@model Client_Home.Models.Product

@{
    ViewData["Title"] = "Details";
    
}
@section styles{
    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;600;900&display=swap" rel="stylesheet">
    <link href="/css/style.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="/css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="/css/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" />
    <link rel="stylesheet" href="/css/elegant-icons.css" type="text/css">
    <link rel="stylesheet" href="/css/nice-select.css" type="text/css">
    <link rel="stylesheet" href="/css/jquery-ui.min.css" type="text/css">
    <link rel="stylesheet" href="/css/owl.carousel.min.css" type="text/css">
    <link rel="stylesheet" href="/css/slicknav.min.css" type="text/css">
    <link rel="stylesheet" href="/css/style.css" type="text/css">

}
<h2 style="font-weight:600; font-family:sans-serif;color:#7fad39">Details Product</h2>

<div class="container mt-5 mb-5">
    <div class="row d-flex justify-content-center">
        <div class="col-md-10">
            <div class="card">
                <div class="row">
                    <div class="col-md-6">
                        <div class="images p-3">
                            <div class="text-center p-4"> <img id="main-image" src="@Html.DisplayFor(model => model.ThumbnailUrl)" width="250" height="300" /> </div>
                            
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="product p-4">
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="d-flex align-items-center"> <i class="fa fa-long-arrow-left"></i><a href="/home/shop" style="font-family:sans-serif;font-size:16px;color:#7fad39" class="ml-1">Back To List</a> </div>
                            </div>
                            <div class="mt-4 mb-3">
                                <span class="text-uppercase text-muted brand">Orianz</span>
                                <h5 class="@Html.DisplayFor(model => model.Name)</h5>
                                <div class="price d-flex flex-row align-items-center">
                                    <span class="act-price">@Html.DisplayFor(model => model.SellPrice)</span>
                                    <div class="ml-2"> <small class="dis-price">@Html.DisplayFor(model => model.SellPrice)*@Html.DisplayFor(model => model.Discount)</small> <span>@Html.DisplayFor(model => model.Discount) OFF</span> </div>
                                </div>
                            </div>
                            <p class="about">@Html.DisplayFor(model => model.Description)</p>
                            
                            <div class="cart mt-4 align-items-center"> <a href="/Cart/AddToCart/?productId=@Html.DisplayFor(model => model.ProductId)" class="btn btn-danger text-uppercase mr-2 px-4">Add to cart</a> </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts{
    <!-- Js Plugins -->
    <script src="/js/jquery-3.3.1.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="js/jquery.nice-select.min.js"></script>
    <script src="/js/jquery-ui.min.js"></script>
    <script src="/js/jquery.slicknav.js"></script>
    <script src="/js/mixitup.min.js"></script>
    <script src="/js/owl.carousel.min.js"></script>
    <script src="/js/main.js"></script>
}