@using Azure;
@using DocumentFormat.OpenXml.Spreadsheet;
@using Microsoft.AspNetCore.Mvc.RazorPages;
@using PagedList.Core.Mvc
@using X.PagedList.Mvc.Core;
@model PagedList.Core.IPagedList<Client_Home.Models.Product>
@{
    int CurrentPage = ViewBag.CurrentPage;
    ViewData["Title"] = "" + CurrentPage;
}


@section styles{
    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;600;900&display=swap" rel="stylesheet">
    <link href="/css/style.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="/css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="/css/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" />
    <link rel="stylesheet" href="/css/elegant-icons.css" type="text/css">
    <link rel="stylesheet" href="/css/nice-select.css" type="text/css">
    <link rel="stylesheet" href="/css/jquery-ui.min.css" type="text/css">
    <link rel="stylesheet" href="/css/owl.carousel.min.css" type="text/css">
    <link rel="stylesheet" href="/css/slicknav.min.css" type="text/css">
    <link rel="stylesheet" href="/css/style.css" type="text/css">

}

<!-- Page Preloder -->
<!-- Humberger Begin -->

<!-- Humberger End -->
<!-- Header Section Begin -->
<!-- Header Section End -->
<!-- Hero Section Begin -->

<!-- Hero Section End -->
<!-- Categories Section Begin -->

<!-- Categories Section End -->
<!-- Featured Section Begin -->
<section class="featured spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="section-title">
                    <h2>Featured Product</h2>
                </div>
                <div class="featured__controls">
                    <ul>
                        <li class="active" data-filter="*">All</li>
                        <li data-filter=".oranges">Oranges</li>
                        <li data-filter=".fresh-meat">Fresh Meat</li>
                        <li data-filter=".vegetables">Vegetables</li>
                        <li data-filter=".fastfood">Fastfood</li>
                    </ul>
                </div>
            </div>
        </div>
       @using (Html.BeginForm("Index","Products",FormMethod.Get))
        {
            <p>
                Search Products : @Html.TextBox("searchString",ViewBag.CurrentFilter as string)
                <input type="submit" value="Search"/>
            </p>
            
        }
        <section class=" vs-shop-wrapper  space-top space-md-bottom">
            <div class="section-title text-center">
                <div class="sec-icon"><img src="assets/img/icons/sec-icon-2.png" alt="icon"></div>
                <span class="sub-title4">Category Products</span>
                <h2 class="sec-title3">Shop By Categories</h2>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-4 col-xl-4">
                        <div class="filter-menu4 vs-slideTab" data-asnavfor="#shopTabSlide1">
                            <button class="tab-btn ">
                                <img src="assets/img/icons/cat-icon-2-1.png" alt="image">
                                <span class="title">Best Seller</span>
                                <span class="text">10 Products</span>
                            </button>
                            <button class="tab-btn ">
                                <img src="assets/img/icons/cat-icon-2-2.png" alt="image">
                                <span class="title">Fresh Fruits</span>
                                <span class="text">78 Products</span>
                            </button>
                            <button class="tab-btn active">
                                <img src="assets/img/icons/cat-icon-2-3.png" alt="image">
                                <span class="title">Tea & Coffee</span>
                                <span class="text">22 Products</span>
                            </button>
                            <button class="tab-btn ">
                                <img src="assets/img/icons/cat-icon-2-4.png" alt="image">
                                <span class="title">Vegetables</span>
                                <span class="text">19 Products</span>
                            </button>
                        </div>
                    </div>
                    <div class="col-lg-8 col-xl-8">
                        <div class="vs-carousel" data-slide-show="1" data-lg-slide-show="1" data-md-slide-show="1" data-sm-slide-show="1" data-fade="true" id="shopTabSlide1">

                            <div>
                                <div class="row gx-30">
                                    <div class="col-md-6 col-xl-4">
                                        <div class="vs-product-box3 style3">
                                            <div class="product-img">
                                                <a href="shop-details.html"><img src="assets/img/shop/product-3-1.png" alt="Product Image" class="w-100"></a>
                                                <span class="product-tag1">HOT</span>
                                            </div>
                                            <div class="actions-btn">
                                                <a href="assets/img/shop/product-3-1.png" class="icon-btn popup-image"><i class="far fa-search"></i></a>
                                                <a href="wishlist.html" class="icon-btn"><i class="fal fa-heart"></i></a>
                                                <a href="cart.html" class="vs-btn style4 cart-btn"><i class="fal fa-cart-plus"></i>Add To Cart</a>
                                            </div>
                                            <div class="product-content">
                                                <div class="product-rating-box">
                                                    5.0<div class="star-rating" role="img" aria-label="Rated 5.00 out of 5"><span style="width:100%">Rated <strong class="rating">5.00</strong> out of 5</span></div>
                                                </div>
                                                <h4 class="product-title"><a href="shop-details.html">Organic Apple Juice</a></h4>
                                                <span class="price"><strong>$18.00</strong><del>$47.00</del></span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-xl-4">
                                        <div class="vs-product-box3 style3">
                                            <div class="product-img">
                                                <a href="shop-details.html"><img src="assets/img/shop/product-3-2.png" alt="Product Image" class="w-100"></a>
                                            </div>
                                            <div class="actions-btn">
                                                <a href="assets/img/shop/product-3-2.png" class="icon-btn popup-image"><i class="far fa-search"></i></a>
                                                <a href="wishlist.html" class="icon-btn"><i class="fal fa-heart"></i></a>
                                                <a href="cart.html" class="vs-btn style4 cart-btn"><i class="fal fa-cart-plus"></i>Add To Cart</a>
                                            </div>
                                            <div class="product-content">
                                                <div class="product-rating-box">
                                                    5.0<div class="star-rating" role="img" aria-label="Rated 5.00 out of 5"><span style="width:100%">Rated <strong class="rating">5.00</strong> out of 5</span></div>
                                                </div>
                                                <h4 class="product-title"><a href="shop-details.html">Clark’s Nutrition</a></h4>
                                                <span class="price"><strong>$45.00</strong></span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-xl-4">
                                        <div class="vs-product-box3 style3">
                                            <div class="product-img">
                                                <a href="shop-details.html"><img src="assets/img/shop/product-3-3.png" alt="Product Image" class="w-100"></a>
                                                <span class="product-tag2">New</span><span class="product-tag3">Sale</span>
                                            </div>
                                            <div class="actions-btn">
                                                <a href="assets/img/shop/product-3-3.png" class="icon-btn popup-image"><i class="far fa-search"></i></a>
                                                <a href="wishlist.html" class="icon-btn"><i class="fal fa-heart"></i></a>
                                                <a href="cart.html" class="vs-btn style4 cart-btn"><i class="fal fa-cart-plus"></i>Add To Cart</a>
                                            </div>
                                            <div class="product-content">
                                                <div class="product-rating-box">
                                                    5.0<div class="star-rating" role="img" aria-label="Rated 5.00 out of 5"><span style="width:100%">Rated <strong class="rating">5.00</strong> out of 5</span></div>
                                                </div>
                                                <h4 class="product-title"><a href="shop-details.html">Organic Cravings</a></h4>
                                                <span class="price"><strong>$78.00</strong><del>$66.00</del></span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-xl-4">
                                        <div class="vs-product-box3 style3">
                                            <div class="product-img">
                                                <a href="shop-details.html"><img src="assets/img/shop/product-3-4.png" alt="Product Image" class="w-100"></a>
                                            </div>
                                            <div class="actions-btn">
                                                <a href="assets/img/shop/product-3-4.png" class="icon-btn popup-image"><i class="far fa-search"></i></a>
                                                <a href="wishlist.html" class="icon-btn"><i class="fal fa-heart"></i></a>
                                                <a href="cart.html" class="vs-btn style4 cart-btn"><i class="fal fa-cart-plus"></i>Add To Cart</a>
                                            </div>
                                            <div class="product-content">
                                                <div class="product-rating-box">
                                                    5.0<div class="star-rating" role="img" aria-label="Rated 5.00 out of 5"><span style="width:100%">Rated <strong class="rating">5.00</strong> out of 5</span></div>
                                                </div>
                                                <h4 class="product-title"><a href="shop-details.html">Organic Meats</a></h4>
                                                <span class="price"><strong>$15.00</strong></span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-xl-4">
                                        <div class="vs-product-box3 style3">
                                            <div class="product-img">
                                                <a href="shop-details.html"><img src="assets/img/shop/product-3-5.png" alt="Product Image" class="w-100"></a>
                                            </div>
                                            <div class="actions-btn">
                                                <a href="assets/img/shop/product-3-5.png" class="icon-btn popup-image"><i class="far fa-search"></i></a>
                                                <a href="wishlist.html" class="icon-btn"><i class="fal fa-heart"></i></a>
                                                <a href="cart.html" class="vs-btn style4 cart-btn"><i class="fal fa-cart-plus"></i>Add To Cart</a>
                                            </div>
                                            <div class="product-content">
                                                <div class="product-rating-box">
                                                    5.0<div class="star-rating" role="img" aria-label="Rated 5.00 out of 5"><span style="width:100%">Rated <strong class="rating">5.00</strong> out of 5</span></div>
                                                </div>
                                                <h4 class="product-title"><a href="shop-details.html">Untouched Organic</a></h4>
                                                <span class="price"><strong>$56.00</strong></span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-xl-4">
                                        <div class="vs-product-box3 style3">
                                            <div class="product-img">
                                                <a href="shop-details.html"><img src="assets/img/shop/product-3-6.png" alt="Product Image" class="w-100"></a>
                                                <span class="product-tag3">Sale</span>
                                            </div>
                                            <div class="actions-btn">
                                                <a href="assets/img/shop/product-3-6.png" class="icon-btn popup-image"><i class="far fa-search"></i></a>
                                                <a href="wishlist.html" class="icon-btn"><i class="fal fa-heart"></i></a>
                                                <a href="cart.html" class="vs-btn style4 cart-btn"><i class="fal fa-cart-plus"></i>Add To Cart</a>
                                            </div>
                                            <div class="product-content">
                                                <div class="product-rating-box">
                                                    5.0<div class="star-rating" role="img" aria-label="Rated 5.00 out of 5"><span style="width:100%">Rated <strong class="rating">5.00</strong> out of 5</span></div>
                                                </div>
                                                <h4 class="product-title"><a href="shop-details.html">Balance Bearing</a></h4>
                                                <span class="price"><strong>$41.00</strong></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div>
                                <div class="row gx-30">
                                    <div class="col-md-6 col-xl-4">
                                        <div class="vs-product-box3 style3">
                                            <div class="product-img">
                                                <a href="shop-details.html"><img src="assets/img/shop/product-3-9.png" alt="Product Image" class="w-100"></a>
                                                <span class="product-tag3">Sale</span>
                                            </div>
                                            <div class="actions-btn">
                                                <a href="assets/img/shop/product-3-9.png" class="icon-btn popup-image"><i class="far fa-search"></i></a>
                                                <a href="wishlist.html" class="icon-btn"><i class="fal fa-heart"></i></a>
                                                <a href="cart.html" class="vs-btn style4 cart-btn"><i class="fal fa-cart-plus"></i>Add To Cart</a>
                                            </div>
                                            <div class="product-content">
                                                <div class="product-rating-box">
                                                    5.0<div class="star-rating" role="img" aria-label="Rated 5.00 out of 5"><span style="width:100%">Rated <strong class="rating">5.00</strong> out of 5</span></div>
                                                </div>
                                                <h4 class="product-title"><a href="shop-details.html">Grateful Organic</a></h4>
                                                <span class="price"><strong>$78.00</strong><del>$88.00</del></span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-xl-4">
                                        <div class="vs-product-box3 style3">
                                            <div class="product-img">
                                                <a href="shop-details.html"><img src="assets/img/shop/product-3-10.png" alt="Product Image" class="w-100"></a>
                                                <span class="product-tag2">New</span>
                                            </div>
                                            <div class="actions-btn">
                                                <a href="assets/img/shop/product-3-10.png" class="icon-btn popup-image"><i class="far fa-search"></i></a>
                                                <a href="wishlist.html" class="icon-btn"><i class="fal fa-heart"></i></a>
                                                <a href="cart.html" class="vs-btn style4 cart-btn"><i class="fal fa-cart-plus"></i>Add To Cart</a>
                                            </div>
                                            <div class="product-content">
                                                <div class="product-rating-box">
                                                    5.0<div class="star-rating" role="img" aria-label="Rated 5.00 out of 5"><span style="width:100%">Rated <strong class="rating">5.00</strong> out of 5</span></div>
                                                </div>
                                                <h4 class="product-title"><a href="shop-details.html">Root For Organics</a></h4>
                                                <span class="price"><strong>$96.00</strong></span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-xl-4">
                                        <div class="vs-product-box3 style3">
                                            <div class="product-img">
                                                <a href="shop-details.html"><img src="assets/img/shop/product-3-11.png" alt="Product Image" class="w-100"></a>
                                            </div>
                                            <div class="actions-btn">
                                                <a href="assets/img/shop/product-3-11.png" class="icon-btn popup-image"><i class="far fa-search"></i></a>
                                                <a href="wishlist.html" class="icon-btn"><i class="fal fa-heart"></i></a>
                                                <a href="cart.html" class="vs-btn style4 cart-btn"><i class="fal fa-cart-plus"></i>Add To Cart</a>
                                            </div>
                                            <div class="product-content">
                                                <div class="product-rating-box">
                                                    5.0<div class="star-rating" role="img" aria-label="Rated 5.00 out of 5"><span style="width:100%">Rated <strong class="rating">5.00</strong> out of 5</span></div>
                                                </div>
                                                <h4 class="product-title"><a href="shop-details.html">Elemental Organic</a></h4>
                                                <span class="price"><strong>$75.00</strong></span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-xl-4">
                                        <div class="vs-product-box3 style3">
                                            <div class="product-img">
                                                <a href="shop-details.html"><img src="assets/img/shop/product-3-12.png" alt="Product Image" class="w-100"></a>
                                            </div>
                                            <div class="actions-btn">
                                                <a href="assets/img/shop/product-3-12.png" class="icon-btn popup-image"><i class="far fa-search"></i></a>
                                                <a href="wishlist.html" class="icon-btn"><i class="fal fa-heart"></i></a>
                                                <a href="cart.html" class="vs-btn style4 cart-btn"><i class="fal fa-cart-plus"></i>Add To Cart</a>
                                            </div>
                                            <div class="product-content">
                                                <div class="product-rating-box">
                                                    5.0<div class="star-rating" role="img" aria-label="Rated 5.00 out of 5"><span style="width:100%">Rated <strong class="rating">5.00</strong> out of 5</span></div>
                                                </div>
                                                <h4 class="product-title"><a href="shop-details.html">Organic Compliment</a></h4>
                                                <span class="price"><strong>$23.00</strong></span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-xl-4">
                                        <div class="vs-product-box3 style3">
                                            <div class="product-img">
                                                <a href="shop-details.html"><img src="assets/img/shop/product-3-13.png" alt="Product Image" class="w-100"></a>
                                            </div>
                                            <div class="actions-btn">
                                                <a href="assets/img/shop/product-3-13.png" class="icon-btn popup-image"><i class="far fa-search"></i></a>
                                                <a href="wishlist.html" class="icon-btn"><i class="fal fa-heart"></i></a>
                                                <a href="cart.html" class="vs-btn style4 cart-btn"><i class="fal fa-cart-plus"></i>Add To Cart</a>
                                            </div>
                                            <div class="product-content">
                                                <div class="product-rating-box">
                                                    5.0<div class="star-rating" role="img" aria-label="Rated 5.00 out of 5"><span style="width:100%">Rated <strong class="rating">5.00</strong> out of 5</span></div>
                                                </div>
                                                <h4 class="product-title"><a href="shop-details.html">Careful Compounds</a></h4>
                                                <span class="price"><strong>$63.00</strong><del>$99.00</del></span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-xl-4">
                                        <div class="vs-product-box3 style3">
                                            <div class="product-img">
                                                <a href="shop-details.html"><img src="assets/img/shop/product-3-14.png" alt="Product Image" class="w-100"></a>
                                                <span class="product-tag3">Sale</span>
                                            </div>
                                            <div class="actions-btn">
                                                <a href="assets/img/shop/product-3-14.png" class="icon-btn popup-image"><i class="far fa-search"></i></a>
                                                <a href="wishlist.html" class="icon-btn"><i class="fal fa-heart"></i></a>
                                                <a href="cart.html" class="vs-btn style4 cart-btn"><i class="fal fa-cart-plus"></i>Add To Cart</a>
                                            </div>
                                            <div class="product-content">
                                                <div class="product-rating-box">
                                                    5.0<div class="star-rating" role="img" aria-label="Rated 5.00 out of 5"><span style="width:100%">Rated <strong class="rating">5.00</strong> out of 5</span></div>
                                                </div>
                                                <h4 class="product-title"><a href="shop-details.html">Organic Delights</a></h4>
                                                <span class="price"><strong>$78.00</strong></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div>
                                <div class="row gx-30">
                                    <div class="col-md-6 col-xl-4">
                                        <div class="vs-product-box3 style3">
                                            <div class="product-img">
                                                <a href="shop-details.html"><img src="assets/img/shop/product-3-17.png" alt="Product Image" class="w-100"></a>
                                            </div>
                                            <div class="actions-btn">
                                                <a href="assets/img/shop/product-3-17.png" class="icon-btn popup-image"><i class="far fa-search"></i></a>
                                                <a href="wishlist.html" class="icon-btn"><i class="fal fa-heart"></i></a>
                                                <a href="cart.html" class="vs-btn style4 cart-btn"><i class="fal fa-cart-plus"></i>Add To Cart</a>
                                            </div>
                                            <div class="product-content">
                                                <div class="product-rating-box">
                                                    5.0<div class="star-rating" role="img" aria-label="Rated 5.00 out of 5"><span style="width:100%">Rated <strong class="rating">5.00</strong> out of 5</span></div>
                                                </div>
                                                <h4 class="product-title"><a href="shop-details.html">Organic Choice</a></h4>
                                                <span class="price"><strong>$79.00</strong></span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-xl-4">
                                        <div class="vs-product-box3 style3">
                                            <div class="product-img">
                                                <a href="shop-details.html"><img src="assets/img/shop/product-3-18.png" alt="Product Image" class="w-100"></a>
                                                <span class="product-tag3">Sale</span>
                                            </div>
                                            <div class="actions-btn">
                                                <a href="assets/img/shop/product-3-18.png" class="icon-btn popup-image"><i class="far fa-search"></i></a>
                                                <a href="wishlist.html" class="icon-btn"><i class="fal fa-heart"></i></a>
                                                <a href="cart.html" class="vs-btn style4 cart-btn"><i class="fal fa-cart-plus"></i>Add To Cart</a>
                                            </div>
                                            <div class="product-content">
                                                <div class="product-rating-box">
                                                    5.0<div class="star-rating" role="img" aria-label="Rated 5.00 out of 5"><span style="width:100%">Rated <strong class="rating">5.00</strong> out of 5</span></div>
                                                </div>
                                                <h4 class="product-title"><a href="shop-details.html">The Nitty-Gritty</a></h4>
                                                <span class="price"><strong>$79.00</strong></span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-xl-4">
                                        <div class="vs-product-box3 style3">
                                            <div class="product-img">
                                                <a href="shop-details.html"><img src="assets/img/shop/product-3-19.png" alt="Product Image" class="w-100"></a>
                                            </div>
                                            <div class="actions-btn">
                                                <a href="assets/img/shop/product-3-19.png" class="icon-btn popup-image"><i class="far fa-search"></i></a>
                                                <a href="wishlist.html" class="icon-btn"><i class="fal fa-heart"></i></a>
                                                <a href="cart.html" class="vs-btn style4 cart-btn"><i class="fal fa-cart-plus"></i>Add To Cart</a>
                                            </div>
                                            <div class="product-content">
                                                <div class="product-rating-box">
                                                    5.0<div class="star-rating" role="img" aria-label="Rated 5.00 out of 5"><span style="width:100%">Rated <strong class="rating">5.00</strong> out of 5</span></div>
                                                </div>
                                                <h4 class="product-title"><a href="shop-details.html">Nature’S Own Organic</a></h4>
                                                <span class="price"><strong>$63.00</strong></span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-xl-4">
                                        <div class="vs-product-box3 style3">
                                            <div class="product-img">
                                                <a href="shop-details.html"><img src="assets/img/shop/product-3-20.png" alt="Product Image" class="w-100"></a>
                                                <span class="product-tag3">Sale</span>
                                            </div>
                                            <div class="actions-btn">
                                                <a href="assets/img/shop/product-3-20.png" class="icon-btn popup-image"><i class="far fa-search"></i></a>
                                                <a href="wishlist.html" class="icon-btn"><i class="fal fa-heart"></i></a>
                                                <a href="cart.html" class="vs-btn style4 cart-btn"><i class="fal fa-cart-plus"></i>Add To Cart</a>
                                            </div>
                                            <div class="product-content">
                                                <div class="product-rating-box">
                                                    5.0<div class="star-rating" role="img" aria-label="Rated 5.00 out of 5"><span style="width:100%">Rated <strong class="rating">5.00</strong> out of 5</span></div>
                                                </div>
                                                <h4 class="product-title"><a href="shop-details.html">Love Light Organics</a></h4>
                                                <span class="price"><strong>$76.00</strong></span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-xl-4">
                                        <div class="vs-product-box3 style3">
                                            <div class="product-img">
                                                <a href="shop-details.html"><img src="assets/img/shop/product-3-21.png" alt="Product Image" class="w-100"></a>
                                            </div>
                                            <div class="actions-btn">
                                                <a href="assets/img/shop/product-3-21.png" class="icon-btn popup-image"><i class="far fa-search"></i></a>
                                                <a href="wishlist.html" class="icon-btn"><i class="fal fa-heart"></i></a>
                                                <a href="cart.html" class="vs-btn style4 cart-btn"><i class="fal fa-cart-plus"></i>Add To Cart</a>
                                            </div>
                                            <div class="product-content">
                                                <div class="product-rating-box">
                                                    5.0<div class="star-rating" role="img" aria-label="Rated 5.00 out of 5"><span style="width:100%">Rated <strong class="rating">5.00</strong> out of 5</span></div>
                                                </div>
                                                <h4 class="product-title"><a href="shop-details.html">Double Nature</a></h4>
                                                <span class="price"><strong>$39.00</strong><del>$59.00</del></span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-xl-4">
                                        <div class="vs-product-box3 style3">
                                            <div class="product-img">
                                                <a href="shop-details.html"><img src="assets/img/shop/product-3-22.png" alt="Product Image" class="w-100"></a>
                                                <span class="product-tag2">New</span>
                                            </div>
                                            <div class="actions-btn">
                                                <a href="assets/img/shop/product-3-22.png" class="icon-btn popup-image"><i class="far fa-search"></i></a>
                                                <a href="wishlist.html" class="icon-btn"><i class="fal fa-heart"></i></a>
                                                <a href="cart.html" class="vs-btn style4 cart-btn"><i class="fal fa-cart-plus"></i>Add To Cart</a>
                                            </div>
                                            <div class="product-content">
                                                <div class="product-rating-box">
                                                    5.0<div class="star-rating" role="img" aria-label="Rated 5.00 out of 5"><span style="width:100%">Rated <strong class="rating">5.00</strong> out of 5</span></div>
                                                </div>
                                                <h4 class="product-title"><a href="shop-details.html">Straight The Firm</a></h4>
                                                <span class="price"><strong>$19.00</strong><del>$99.00</del></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div>
                                <div class="row gx-30">
                                    <div class="col-md-6 col-xl-4">
                                        <div class="vs-product-box3 style3">
                                            <div class="product-img">
                                                <a href="shop-details.html"><img src="assets/img/shop/product-3-25.png" alt="Product Image" class="w-100"></a>
                                            </div>
                                            <div class="actions-btn">
                                                <a href="assets/img/shop/product-3-25.png" class="icon-btn popup-image"><i class="far fa-search"></i></a>
                                                <a href="wishlist.html" class="icon-btn"><i class="fal fa-heart"></i></a>
                                                <a href="cart.html" class="vs-btn style4 cart-btn"><i class="fal fa-cart-plus"></i>Add To Cart</a>
                                            </div>
                                            <div class="product-content">
                                                <div class="product-rating-box">
                                                    5.0<div class="star-rating" role="img" aria-label="Rated 5.00 out of 5"><span style="width:100%">Rated <strong class="rating">5.00</strong> out of 5</span></div>
                                                </div>
                                                <h4 class="product-title"><a href="shop-details.html">Goodness Organics</a></h4>
                                                <span class="price"><strong>$63.00</strong></span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-xl-4">
                                        <div class="vs-product-box3 style3">
                                            <div class="product-img">
                                                <a href="shop-details.html"><img src="assets/img/shop/product-3-26.png" alt="Product Image" class="w-100"></a>
                                                <span class="product-tag3">Sale</span>
                                            </div>
                                            <div class="actions-btn">
                                                <a href="assets/img/shop/product-3-26.png" class="icon-btn popup-image"><i class="far fa-search"></i></a>
                                                <a href="wishlist.html" class="icon-btn"><i class="fal fa-heart"></i></a>
                                                <a href="cart.html" class="vs-btn style4 cart-btn"><i class="fal fa-cart-plus"></i>Add To Cart</a>
                                            </div>
                                            <div class="product-content">
                                                <div class="product-rating-box">
                                                    5.0<div class="star-rating" role="img" aria-label="Rated 5.00 out of 5"><span style="width:100%">Rated <strong class="rating">5.00</strong> out of 5</span></div>
                                                </div>
                                                <h4 class="product-title"><a href="shop-details.html">Organic Seed</a></h4>
                                                <span class="price"><strong>$39.00</strong><del>$49.00</del></span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-xl-4">
                                        <div class="vs-product-box3 style3">
                                            <div class="product-img">
                                                <a href="shop-details.html"><img src="assets/img/shop/product-3-27.png" alt="Product Image" class="w-100"></a>
                                                <span class="product-tag3">Sale</span>
                                            </div>
                                            <div class="actions-btn">
                                                <a href="assets/img/shop/product-3-27.png" class="icon-btn popup-image"><i class="far fa-search"></i></a>
                                                <a href="wishlist.html" class="icon-btn"><i class="fal fa-heart"></i></a>
                                                <a href="cart.html" class="vs-btn style4 cart-btn"><i class="fal fa-cart-plus"></i>Add To Cart</a>
                                            </div>
                                            <div class="product-content">
                                                <div class="product-rating-box">
                                                    5.0<div class="star-rating" role="img" aria-label="Rated 5.00 out of 5"><span style="width:100%">Rated <strong class="rating">5.00</strong> out of 5</span></div>
                                                </div>
                                                <h4 class="product-title"><a href="shop-details.html">Double Organics</a></h4>
                                                <span class="price"><strong>$79.00</strong><del>$99.00</del></span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-xl-4">
                                        <div class="vs-product-box3 style3">
                                            <div class="product-img">
                                                <a href="shop-details.html"><img src="assets/img/shop/product-3-28.png" alt="Product Image" class="w-100"></a>
                                            </div>
                                            <div class="actions-btn">
                                                <a href="assets/img/shop/product-3-28.png" class="icon-btn popup-image"><i class="far fa-search"></i></a>
                                                <a href="wishlist.html" class="icon-btn"><i class="fal fa-heart"></i></a>
                                                <a href="cart.html" class="vs-btn style4 cart-btn"><i class="fal fa-cart-plus"></i>Add To Cart</a>
                                            </div>
                                            <div class="product-content">
                                                <div class="product-rating-box">
                                                    5.0<div class="star-rating" role="img" aria-label="Rated 5.00 out of 5"><span style="width:100%">Rated <strong class="rating">5.00</strong> out of 5</span></div>
                                                </div>
                                                <h4 class="product-title"><a href="shop-details.html">The Organic Base</a></h4>
                                                <span class="price"><strong>$18.00</strong></span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-xl-4">
                                        <div class="vs-product-box3 style3">
                                            <div class="product-img">
                                                <a href="shop-details.html"><img src="assets/img/shop/product-3-29.png" alt="Product Image" class="w-100"></a>
                                                <span class="product-tag3">Sale</span>
                                            </div>
                                            <div class="actions-btn">
                                                <a href="assets/img/shop/product-3-29.png" class="icon-btn popup-image"><i class="far fa-search"></i></a>
                                                <a href="wishlist.html" class="icon-btn"><i class="fal fa-heart"></i></a>
                                                <a href="cart.html" class="vs-btn style4 cart-btn"><i class="fal fa-cart-plus"></i>Add To Cart</a>
                                            </div>
                                            <div class="product-content">
                                                <div class="product-rating-box">
                                                    5.0<div class="star-rating" role="img" aria-label="Rated 5.00 out of 5"><span style="width:100%">Rated <strong class="rating">5.00</strong> out of 5</span></div>
                                                </div>
                                                <h4 class="product-title"><a href="shop-details.html">The Organic Body</a></h4>
                                                <span class="price"><strong>$75.00</strong><del>$20.00</del></span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-xl-4">
                                        <div class="vs-product-box3 style3">
                                            <div class="product-img">
                                                <a href="shop-details.html"><img src="assets/img/shop/product-3-30.png" alt="Product Image" class="w-100"></a>
                                            </div>
                                            <div class="actions-btn">
                                                <a href="assets/img/shop/product-3-30.png" class="icon-btn popup-image"><i class="far fa-search"></i></a>
                                                <a href="wishlist.html" class="icon-btn"><i class="fal fa-heart"></i></a>
                                                <a href="cart.html" class="vs-btn style4 cart-btn"><i class="fal fa-cart-plus"></i>Add To Cart</a>
                                            </div>
                                            <div class="product-content">
                                                <div class="product-rating-box">
                                                    5.0<div class="star-rating" role="img" aria-label="Rated 5.00 out of 5"><span style="width:100%">Rated <strong class="rating">5.00</strong> out of 5</span></div>
                                                </div>
                                                <h4 class="product-title"><a href="shop-details.html">Organic BioKitchen</a></h4>
                                                <span class="price"><strong>$96.00</strong></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <div class="row featured__filter">
            @foreach(var item in Model)
            {
                <div class="col-lg-3 col-md-4 col-sm-6 mix oranges fresh-meat">
                    <div class="featured__item">
                        <div class="featured__item__pic set-bg" data-setbg="@Html.DisplayFor(modelItem => item.ThumbnailUrl)">
                            <ul class="featured__item__pic__hover">
                                <li><a href="#"><i class="fa fa-heart"></i></a></li>
                                <li><a href="#"><i class="fa fa-retweet"></i></a></li>
                                <li><a href="/Cart/AddToCart/?productId=@Html.DisplayFor(modelItem => item.ProductId)"><i class="fa fa-shopping-cart"></i></a></li>
                            </ul>
                        </div>
                        <div class="featured__item__text">
                            <h6><a href="/Products/Details/@Html.DisplayFor(modelItem => item.ProductId)">@Html.DisplayFor(modelItem => item.Name)</a></h6>
                            <h5>@Html.DisplayFor(modelItem => item.SellPrice)</h5>
                        </div>
                    </div>
                </div>
            }

        </div>
        <div aria-label="Page navigation example" style="display:flex; justify-content:center">
            <ul class="pagination">
                <pager class="page-container" list="@Model" asp-action="Index"></pager>
            </ul>

        </div>
    </div>
</section>
<!-- Featured Section End -->
<!-- Banner Begin -->
<div class="banner">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6">
                <div class="banner__pic">
                    <img src="img/banner/banner-1.jpg" alt="">
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6">
                <div class="banner__pic">
                    <img src="img/banner/banner-2.jpg" alt="">
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Banner End -->
<!-- Latest Product Section Begin -->

<!-- Latest Product Section End -->
<!-- Blog Section Begin -->
<section class="from-blog spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="section-title from-blog__title">
                    <h2>From The Blog</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-6">
                <div class="blog__item">
                    <div class="blog__item__pic">
                        <img src="img/blog/blog-1.jpg" alt="">
                    </div>
                    <div class="blog__item__text">
                        <ul>
                            <li><i class="fa fa-calendar-o"></i> May 4,2019</li>
                            <li><i class="fa fa-comment-o"></i> 5</li>
                        </ul>
                        <h5><a href="#">Cooking tips make cooking simple</a></h5>
                        <p>Sed quia non numquam modi tempora indunt ut labore et dolore magnam aliquam quaerat </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6">
                <div class="blog__item">
                    <div class="blog__item__pic">
                        <img src="img/blog/blog-2.jpg" alt="">
                    </div>
                    <div class="blog__item__text">
                        <ul>
                            <li><i class="fa fa-calendar-o"></i> May 4,2019</li>
                            <li><i class="fa fa-comment-o"></i> 5</li>
                        </ul>
                        <h5><a href="#">6 ways to prepare breakfast for 30</a></h5>
                        <p>Sed quia non numquam modi tempora indunt ut labore et dolore magnam aliquam quaerat </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6">
                <div class="blog__item">
                    <div class="blog__item__pic">
                        <img src="img/blog/blog-3.jpg" alt="">
                    </div>
                    <div class="blog__item__text">
                        <ul>
                            <li><i class="fa fa-calendar-o"></i> May 4,2019</li>
                            <li><i class="fa fa-comment-o"></i> 5</li>
                        </ul>
                        <h5><a href="#">Visit the clean farm in the US</a></h5>
                        <p>Sed quia non numquam modi tempora indunt ut labore et dolore magnam aliquam quaerat </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Blog Section End -->
<!-- Footer Section Begin -->
@section Scripts{
    <!-- Js Plugins -->
    <script src="/js/jquery-3.3.1.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="js/jquery.nice-select.min.js"></script>
    <script src="/js/jquery-ui.min.js"></script>
    <script src="/js/jquery.slicknav.js"></script>
    <script src="/js/mixitup.min.js"></script>
    <script src="/js/owl.carousel.min.js"></script>
    <script src="/js/main.js"></script>
}