@model IEnumerable<Client_Home.Models.Role>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<div class="main-content">
                    <div class="page-header">
                        <h2 class="header-title">Role List</h2>
                        <div class="header-sub-title">
                            <nav class="breadcrumb breadcrumb-dash">
                                <a asp-area="Admin" asp-controller="Home" asp-action="Index" class="breadcrumb-item"><i class="anticon anticon-home m-r-5"></i>Home</a>
                                <a class="breadcrumb-item" href="#">Quan ly he thong</a>
                                <span class="breadcrumb-item active">Role List</span>
                            </nav>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-body">
                            <div class="row m-b-30">
                                <div class="col-lg-6">
                                    <div class="d-md-flex">
                                        <div class="m-b-10">
                                            <h3>Danh sach quyen truy cap</h3>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-3 text-right">

                                    <a asp-area="Admin" asp-controller="AdminRoles" asp-action="ExportToExcel">
                                    <button class="btn btn-primary">
                                        <i class="anticon anticon-file-excel m-r-5"></i>
                                        <span>Export</span>
                                    </button>
                                    </a>
                                </div>
                                <div class="col-lg-3 text-right">
                                    <a asp-area="Admin" asp-controller="AdminRoles" asp-action="Create">
                                    <button class="btn btn-primary">
                                        <i class="anticon anticon-plus-circle m-r-5"></i>
                                        <span>Thêm quyền</span>
                                    </button>
                                    </a>
                                </div>
                            </div>
                            <div class="table-responsive">
                                <table class="table table-hover e-commerce-table">
                                    <thead>
                                        <tr>
                                            <th>
                                                <div class="checkbox">
                                                    <input id="checkAll" type="checkbox">
                                                    <label for="checkAll" class="m-b-0"></label>
                                                </div>
                                            </th>
                                            <th>
                                                @Html.DisplayNameFor(model=>model.Roleid)
                                            </th>
                                            <th>
                                                @Html.DisplayNameFor(model=>model.Rolename)
                                            </th>
                                            <th>
                                                @Html.DisplayNameFor(model=>model.Description)
                                            </th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        
                                            @if(Model!=null){
                                                int i = 1;
                                                @foreach(var item in Model)
                                                {
                                                <tr>
                                                <td>
                                                <div class="checkbox">
                                                    <input id="@("check-item-" + i)" type="checkbox">
                                                    <label for="@("check-item-" + i)" class="m-b-0"></label>
                                                </div>
                                                </td>

                                                <td>
                                                    @item.Roleid
                                                </td>
                                                <td>
                                                    @item.Rolename
                                                </td>
                                                <td>
                                                    @item.Description
                                                </td>

                                                <td class="text-right">
                                                    <a asp-area="Admin" asp-controller="AdminRoles" asp-action="Edit" asp-route-id="@item.Roleid">
                                                    <button class="btn btn-icon btn-hover btn-sm btn-rounded pull-right">
                                                        <i class="anticon anticon-edit"></i>
                                                    </button>
                                                    </a>
                                                    <button class="btn btn-icon btn-hover btn-sm btn-rounded">
                                                        <i class="anticon anticon-delete"></i>
                                                    </button>
                                                </td>
                                                </tr>
                                                i++;
                                                }
                                            }                                    
                                        
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
