@using Client_Home.Areas.Admin.Models;
@model Pager<ProductBatch>
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
<table class="table table-hover e-commerce-table">
    <thead>
        <tr>
            <th>
                <div class="checkbox">
                    <input id="checkAll" type="checkbox">
                    <label for="checkAll" class="m-b-0"></label>
                </div>
            </th>
            <th>
                Mã lô
            </th>
            <th>
                Mã sản phẩm
            </th>
            <th>
                Ngày sản xuất
            </th>
            <th>
                Ngày hết hạn
            </th>
            <th>
                Số lượng
            </th>
            <th>
                Barcode
            </th>
            <th>
                Giá nhập
            </th>
            <th>
                Trạng thái
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr>
            @if (Model != null)
            {
                int i = 1;
                @foreach (var item in Model.Items)
                {
                <tr>
                    <td>
                        <div class="checkbox">
                            <input id="@("check-item-" + item.BatchId)" type="checkbox">
                            <label for="@("check-item-" + item.BatchId)" class="m-b-0"></label>
                        </div>
                    </td>
                    <td>
                            @Html.DisplayFor(modelItem => item.BatchId)
                    </td>
                    <td>
                            @Html.DisplayFor(modelItem => item.ProductId)
                    </td>
                    <td>

                            @{
                                string MFGDateText = item.ManufactureDate.HasValue ? item.ManufactureDate.Value.ToString("dd/MM/yyyy") : "";
                            }
                            @Html.DisplayFor(modelItem => MFGDateText)
                    </td>
                    <td>
                            @{
                                string EXPDateText = item.ExpiryDate.HasValue ? item.ExpiryDate.Value.ToString("dd/MM/yyyy") : "";
                            }
                            @Html.DisplayFor(modelItem => EXPDateText)
                    </td>

                    <td>
                            @Html.DisplayFor(modelItem => item.Quantity)
                    </td>
                    <td>
                            @if (string.IsNullOrEmpty(item.Barcode))
                            {
                                <img src="@Url.Action("GenerateQRCode", "AdminQRService", new { BatchId = item.BatchId })" alt="Barcode Image" />
                            }
                            else
                            {
                                string filePath = "~/AdminImages/Barcodes/" + item.Barcode;
                            <img src="@Url.Content(filePath)" style="height: 70px; width: 70px" />
                            }

                    </td>
                    <td>

                            @Html.DisplayFor(modelItem => item.ImportPrice)
                    </td>
                    <td>
                        <div class="d-flex align-items-center">
                                @if (item.Status == true)
                                {
                                <div class="badge badge-success badge-dot m-r-10"></div>
                                <div>Đang bán</div>
                                }
                                else
                                {
                                <div class="badge badge-danger badge-dot m-r-10"></div>
                                <div>Hết hàng</div>
                                }
                        </div>
                    </td>

                    <td class="text-right">
                        <a asp-area="Admin" asp-controller="AdminProductBatches" asp-action="Details" asp-route-id="@item.BatchId">
                            <button class="btn btn-icon btn-hover btn-sm btn-rounded" title="Xem chi tiết thông tin lô sản phẩm">
                                <i class="anticon anticon-eye"></i>
                            </button>
                        </a>

                        <a asp-area="Admin" asp-controller="AdminProductBatches" asp-action="Edit" asp-route-id="@item.BatchId">
                            <button class="btn btn-icon btn-hover btn-sm btn-rounded pull-right" title="Sửa thông tin lô sản phẩm">
                                <i class="anticon anticon-edit"></i>
                            </button>
                        </a>

                        <a asp-area="Admin" asp-controller="AdminProductBatches" asp-action="Delete" asp-route-id="@item.BatchId">
                            <button class="btn btn-icon btn-hover btn-sm btn-rounded" title="Xóa lô sản phẩm này">
                                <i class="anticon anticon-delete"></i>
                            </button>
                        </a>

                    </td>
                </tr>
                    i++;
                }
            }
        </tr>
    </tbody>
</table>
@Html.Partial("//Areas//Admin//Views//Search//PaginationPartialView.cshtml");
