@using Client_Home.Areas.Admin.Models;
@model Pager<Customer>
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
<table class="table table-hover e-commerce-table">
    <thead>
        <tr>
            <th>
                <div class="checkbox">
                    <input id="checkAll" type="checkbox">
                    <label for="checkAll" class="m-b-0"></label>
                </div>
            </th>
            <th>
                Tên
            </th>
            <th>
                Email
            </th>
            <th>
                Số điện thoại
            </th>
            <th>
                Ngày sinh
            </th>
            <th>
                Điểm thưởng
            </th>
            <th>
                Loại thành viên
            </th>
            <th>
                Giới tính
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr>
            @if (Model != null)
            {
                int i = 1;
                @foreach (var item in Model.Items)
                {
                <tr>
                    <td>
                        <div class="checkbox">
                            <input id="@("check-item-" + item.CustomerId)" type="checkbox">
                            <label for="@("check-item-" + item.CustomerId)" class="m-b-0"></label>
                        </div>
                    </td>
                    <td>
                            @Html.DisplayFor(modelItem => item.LastName)
                    </td>
                    <td>
                            @Html.DisplayFor(modelItem => item.Email)
                    </td>
                    <td>
                            @Html.DisplayFor(modelItem => item.Phone)
                    </td>
                    <td>
                            @item.Birthday?.ToString("dd/MM/yyyy")
                    </td>

                    <td>
                            @Html.DisplayFor(modelItem => item.RewardPoints)
                    </td>
                    <td>
                            @Html.DisplayFor(modelItem => item.Rank)
                    </td>
                    <td>
                            @{
                                string genderText = (item.Gender != null && item.Gender == 1) ? "Nữ" : "Nam";
                            }
                            @Html.DisplayFor(modelItem => genderText)

                    </td>

                    <td class="text-right">
                        <a asp-area="Admin" asp-controller="AdminCustomers" asp-action="Details" asp-route-id="@item.CustomerId">
                            <button class="btn btn-icon btn-hover btn-sm btn-rounded" title="Xem chi tiết thông tin khách hàng">
                                <i class="anticon anticon-eye"></i>
                            </button>
                        </a>
                        <a asp-area="Admin" asp-controller="AdminCustomers" asp-action="Edit" asp-route-id="@item.CustomerId">
                            <button class="btn btn-icon btn-hover btn-sm btn-rounded pull-right" title="Sửa thông tin khách hàng">
                                <i class="anticon anticon-edit"></i>
                            </button>
                        </a>
                    </td>
                </tr>
                    i++;
                }
            }
        </tr>
    </tbody>
</table>
@Html.PartialAsync("//Areas//Admin//Views//Search//PaginationPartialView.cshtml");