@using Client_Home.Areas.Admin.Models;
@model Pager<Invoice>
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
<table class="table table-hover e-commerce-table">
    <thead>
        <tr>
            <th>
                Số hóa đơn
            </th>
            <th>
                Tên khách hàng
            </th>
            <th>
                Tên nhân viên
            </th>
            <th>
                Ngày tạo
            </th>
            <th>
                Trạng thái
            </th>
            <th>
                Tổng tiền
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr>
            @if (Model != null)
            {
                int i = 1;
                @foreach (var item in Model.Items)
                {
                <tr>

                    <td>
                            @Html.DisplayFor(modelItem => item.InvoiceId)
                    </td>
                    <td>
                            @Html.DisplayFor(modelItem => item.Customer.LastName)
                    </td>
                    <td>
                            @Html.DisplayFor(modelItem => item.Employee.LastName)
                    </td>
                    <td>
                            @Html.DisplayFor(modelItem => item.CreatedDate)
                    </td>
                    <td>
                            @Html.DisplayFor(modelItem => item.Status)
                    </td>

                    <td>
                            @Html.DisplayFor(modelItem => item.TotalAmount)
                    </td>

                    <td class="text-right">
                        <a asp-area="Admin" asp-controller="AdminInvoices" asp-action="Details" asp-route-id="@item.InvoiceId">
                            <button class="btn btn-icon btn-hover btn-sm btn-rounded" title="Xem chi tiết hóa đơn">
                                <i class="anticon anticon-eye"></i>
                            </button>
                        </a>
                        <a asp-area="Admin" asp-controller="AdminInvoices" asp-action="Edit" asp-route-id="@item.InvoiceId">
                            <button class="btn btn-icon btn-hover btn-sm btn-rounded pull-right" title="Sửa thông tin hóa đơn">
                                <i class="anticon anticon-edit"></i>
                            </button>
                        </a>
                        <a asp-area="Admin" asp-controller="AdminInvoices" asp-action="Delete" asp-route-id="@item.InvoiceId">
                            <button class="btn btn-icon btn-hover btn-sm btn-rounded" title="Xóa hóa đơn này">
                                <i class="anticon anticon-delete"></i>
                            </button>
                        </a>
                    </td>
                </tr>
                    i++;
                }
            }
        </tr>
    </tbody>
</table>
<div aria-label="Page navigation example" style="display:flex; justify-content:center">
    <ul class="pagination">
        @if (Model.TotalPages > 1)
        {
            @for (int i = 1; i <= Model.TotalPages; i++)
            {
                <li class="page-item">
                    <a class="page-link" onclick="performAjaxRequest(@i)">@i</a>
                </li>
            }
        }
    </ul>
</div>