@model List<Invoice>
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@if (Model != null)
{
    int i = 1;
    @foreach (var item in Model)
    {
        <tr>

            <td>
                @Html.DisplayFor(modelItem => item.InvoiceId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Customer.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Employee.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.TotalAmount)
            </td>

            <td class="text-right">
                <a asp-area="Admin" asp-controller="AdminInvoices" asp-action="Details" asp-route-id="@item.InvoiceId">
                    <button class="btn btn-icon btn-hover btn-sm btn-rounded" title="Xem chi tiết hóa đơn">
                        <i class="anticon anticon-eye"></i>
                    </button>
                </a>
                @*                                         <a asp-area="Admin" asp-controller="AdminInvoices" asp-action="Edit" asp-route-id="@item.InvoiceId">
        <button class="btn btn-icon btn-hover btn-sm btn-rounded pull-right" title="Sửa thông tin hóa đơn">
        <i class="anticon anticon-edit"></i>
        </button>
        </a> *@
                @*  <a asp-area="Admin" asp-controller="AdminInvoices" asp-action="Delete" asp-route-id="@item.InvoiceId">
        <button class="btn btn-icon btn-hover btn-sm btn-rounded" title="Xóa hóa đơn này">
        <i class="anticon anticon-delete"></i>
        </button>
        </a> *@
            </td>
        </tr>
        i++;
    }
}