@model Client_Home.Models.Invoice

@{
    ViewData["Title"] = "Create";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
    var product = ViewBag.product as List<Product>;
}

<h1>Create</h1>

<h4>Invoice</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="CustomerId" class="control-label"></label>
                <select asp-for="CustomerId" class ="form-control" asp-items="ViewBag.CustomerId"></select>
            </div>
            <div class="form-group">
                <label asp-for="EmployeeId" class="control-label"></label>
                <select asp-for="EmployeeId" class ="form-control" asp-items="ViewBag.EmployeeId"></select>
            </div>
            <div class="form-group">
                <label asp-for="PaymentId" class="control-label"></label>
                <select asp-for="PaymentId" class ="form-control" asp-items="ViewBag.PaymentId"></select>
            </div>
            <div class="form-group">
                <label asp-for="ShippingId" class="control-label"></label>
                <select asp-for="ShippingId" class ="form-control" asp-items="ViewBag.ShippingId"></select>
            </div>
            <div class="form-group">
                <label asp-for="TotalAmount" class="control-label"></label>
                <input asp-for="TotalAmount" class="form-control" />
                <span asp-validation-for="TotalAmount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Status" class="control-label"></label>
                <input asp-for="Status" class="form-control" />
                <span asp-validation-for="Status" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CreatedDate" class="control-label"></label>
                <input asp-for="CreatedDate" class="form-control" />
                <span asp-validation-for="CreatedDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DeliveryCost" class="control-label"></label>
                <input asp-for="DeliveryCost" class="form-control" />
                <span asp-validation-for="DeliveryCost" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div class="card">
    <div class="card-body">
        <div class="row m-b-30">
            <div class="col-lg-6">
                <div class="d-md-flex">
                    <div class="m-b-10">
                        <h3>Danh sách sản phẩm</h3>
                    </div>
                </div>
            </div>
            <div class="m-b-10 m-r-15">
            </div>
            <div class="m-b-10 m-r-15">
                <input id="keyword" type="text" name="keyword" class="form-control" placeholder="Tìm kiếm sản phẩm" />
            </div>
        </div>
        <div class="table-responsive">
            <table class="table table-hover e-commerce-table">
                <thead>
                    <tr>
                        <th>
                            <div class="checkbox">
                                <input id="checkAll" type="checkbox">
                                <label for="checkAll" class="m-b-0"></label>
                            </div>
                        </th>
                        <th>
                            Hình ảnh
                        </th>
                        <th>
                            Tên
                        </th>
                        <th>
                            Giá bán
                        </th>
                        <th>
                            Tổng số lượng
                        </th>
                        <th>
                            Trạng thái
                        </th>
                       
                        <th></th>
                    </tr>
                </thead>
                <tbody id="records_table">
                    @if (product != null)
                    {
                        int i = 1;
                        @foreach (var item in product)
                        {
                            <tr>
                                <td>
                                    <div class="checkbox">
                                        <input id="@("check-item-" + i)" type="checkbox">
                                        <label for="@("check-item-" + i)" class="m-b-0"></label>
                                    </div>
                                </td>

                                <td>
                                    @if (item.ThumbnailUrl != null)
                                    {
                                        <div class="d-flex align-items-center">
                                            <img class="img-fluid rounded" src="@Url.Content("~/adminassets/images/others/" + item.ThumbnailUrl)" style="max-width: 60px" alt="">
                                        </div>
                                    }
                                </td>

                                <td>
                                    @Html.DisplayFor(modelItem => item.Name)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.SellPrice)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.TotalQuantity)
                                </td>
                                <td>

                                    <div class="d-flex align-items-center">
                                        @if (item.Active == 1)
                                        {
                                            <div class="badge badge-success badge-dot m-r-10"></div>
                                            <div>Đang bán</div>
                                        }
                                        else if (item.Active == 0)
                                        {
                                            <div class="badge badge-danger badge-dot m-r-10"></div>
                                            <div>Hết hàng</div>
                                        }
                                        else if (item.Active == -1)
                                        {
                                            <div class="badge badge-danger badge-dot m-r-10"></div>
                                            <div>Ngưng kinh doanh</div>
                                        }
                                    </div>
                                </td>

                               

                                <td class="text-right">
                                    <a asp-area="Admin" asp-controller="AdminProducts" asp-action="Details" asp-route-id="@item.ProductId">
                                        <button class="btn btn-icon btn-hover btn-sm btn-rounded" title="Xem chi tiết sản phẩm">
                                            <i class="anticon anticon-eye"></i>
                                        </button>
                                    </a>
                                    <a asp-area="Admin" asp-controller="AdminProducts" asp-action="Edit" asp-route-id="@item.ProductId">
                                        <button class="btn btn-icon btn-hover btn-sm btn-rounded pull-right" title="Sửa thông tin sản phẩm">
                                            <i class="anticon anticon-edit"></i>
                                        </button>
                                    </a>
                                    <a asp-area="Admin" asp-controller="AdminProducts" asp-action="Delete" asp-route-id="@item.ProductId">
                                        <button class="btn btn-icon btn-hover btn-sm btn-rounded" title="Xóa sản phẩm này">
                                            <i class="anticon anticon-delete"></i>
                                        </button>
                                    </a>
                                </td>
                            </tr>
                            i++;
                        }
                    }

                </tbody>
            </table>
           @*  <div aria-label="Page navigation example" style="display:flex; justify-content:center">
                <ul class="pagination">
                    <pager class="page-container" list=product asp-action="Create"></pager>
                </ul>

            </div> *@
        </div>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

