@model IEnumerable<Client_Home.Models.Invoice>

@{
    ViewData["Title"] = "Danh sách hóa đơn";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}
<div class="main-content">
    <div class="page-header">
        <h2 class="header-title">Danh sách hóa đơn</h2>
        <div class="header-sub-title">
            <nav class="breadcrumb breadcrumb-dash">
                <a asp-area="Admin" asp-controller="Home" asp-action="Index" class="breadcrumb-item"><i class="anticon anticon-home m-r-5"></i>Home</a>
                <a class="breadcrumb-item" href="#">Quản lý hóa đơn</a>
                <span class="breadcrumb-item active">Danh sách hóa đơn</span>
            </nav>
        </div>
    </div>
    <div class="card">
        <div class="card-body">
            <div class="row m-b-30">
                <div class="col-lg-6">
                    <div class="d-md-flex">
                        <div class="m-b-10">
                            <h3>Danh sách hóa đơn</h3>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 text-right">

                    <a asp-area="Admin" asp-controller="AdminProducts" asp-action="Export">
                        <button class="btn btn-primary">
                            <i class="anticon anticon-file-excel m-r-5"></i>
                            <span>Xuất file Excel</span>
                        </button>
                    </a>
                </div>
                <div class="col-lg-3 text-right">
                    <a asp-area="Admin" asp-controller="AdminProducts" asp-action="Create">
                        <button class="btn btn-primary">
                            <i class="anticon anticon-plus-circle m-r-5"></i>
                            <span>Thêm hóa đơn</span>
                        </button>
                    </a>
                </div>
            </div>
            <div class="table-responsive">
                <table class="table table-hover e-commerce-table">
                    <thead>
                        <tr>
                            <th>
                                <div class="checkbox">
                                    <input id="checkAll" type="checkbox">
                                    <label for="checkAll" class="m-b-0"></label>
                                </div>
                            </th>
                            <th>
                                Số hóa đơn
                            </th>
                            <th>
                                Tên khách hàng
                            </th>
                            <th>
                                Tên nhân viên 
                            </th>
                            <th>
                                Ngày tạo
                            </th>
                            <th>
                                Trạng thái
                            </th>
                            <th>
                                Tổng tiền
                            </th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>

                        @if (Model != null)
                        {
                            int i = 1;
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        <div class="checkbox">
                                            <input id="@("check-item-" + i)" type="checkbox">
                                            <label for="@("check-item-" + i)" class="m-b-0"></label>
                                        </div>
                                    </td>

                                    <td>
                                        @Html.DisplayFor(modelItem => item.InvoiceId)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Customer.LastName)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Employee.LastName)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.CreatedDate)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Status)
                                    </td>

                                    <td>
                                        @Html.DisplayFor(modelItem => item.TotalAmount)
                                    </td>

                                    <td class="text-right">
                                        <a asp-area="Admin" asp-controller="AdminInvoices" asp-action="Details" asp-route-id="@item.InvoiceId">
                                            <button class="btn btn-icon btn-hover btn-sm btn-rounded" title="Xem chi tiết hóa đơn">
                                                <i class="anticon anticon-eye"></i>
                                            </button>
                                        </a>
                                        <a asp-area="Admin" asp-controller="AdminInvoices" asp-action="Edit" asp-route-id="@item.InvoiceId">
                                            <button class="btn btn-icon btn-hover btn-sm btn-rounded pull-right" title="Sửa thông tin hóa đơn">
                                                <i class="anticon anticon-edit"></i>
                                            </button>
                                        </a>
                                        <a asp-area="Admin" asp-controller="AdminInvoices" asp-action="Delete" asp-route-id="@item.InvoiceId">
                                            <button class="btn btn-icon btn-hover btn-sm btn-rounded" title="Xóa hóa đơn này">
                                                <i class="anticon anticon-delete"></i>
                                            </button>
                                        </a>
                                    </td>
                                </tr>
                                i++;
                            }
                        }

                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>