@model Client_Home.Models.Supplier

@{
    ViewData["Title"] = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<div class="main-content">
    <div class="page-header">
        <h2 class="header-title">Danh sách nhà cung cấp</h2>
        <div class="header-sub-title">
            <nav class="breadcrumb breadcrumb-dash">
                <a href="#" class="breadcrumb-item"><i class="anticon anticon-home m-r-5"></i>Home</a>
                <a class="breadcrumb-item" href="#">Quản lý sản phẩm</a>
                <a class="breadcrumb-item" href="#">Danh sách nhà cung cấp</a>
            </nav>
        </div>
    </div>
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Thông tin nhà cung cấp</h4>
            <div class="table-responsive">
                <table class="product-info-table m-t-20">
                    <tbody>
                        <tr>
                            <td>Tên</td>
                            <td class="text-dark font-weight-semibold">@Model.SupplierName</td>
                        </tr>
                        <tr>
                            <td>Tên liên hệ</td>
                            <td>@Model.ContactName</td>
                        </tr>
                        <tr>
                            <td>Địa Chỉ</td>
                            <td>@Model.Address</td>
                        </tr>
                        <tr>
                            <td>Thành Phố</td>
                            <td>@Model.City</td>
                        </tr>
                        <tr>
                            <td>Mã PostCode</td>
                            <td>@Model.PostalCode</td>
                        </tr>
                        <tr>
                            <td>Quốc gia</td>
                            <td>@Model.Country</td>
                        </tr>
                        <tr>
                            <td>Số điện thoại</td>
                            <td>@Model.Phone</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.SupplierId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
