@model PagedList.Core.IPagedList<Client_Home.Models.Supplier>
@using PagedList.Core.Mvc


@{
    int CurrentPage = ViewBag.CurrentPage;
    ViewData["Title"] = "Danh sách nhà cung cấp" + CurrentPage;
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<div class="main-content">
    <div class="page-header">
        <h2 class="header-title">Quản lý sản phẩm</h2>
        <div class="header-sub-title">
            <nav class="breadcrumb breadcrumb-dash">
                <a asp-area="Admin" asp-controller="Home" asp-action="Index" class="breadcrumb-item"><i class="anticon anticon-home m-r-5"></i>Home</a>
                <a class="breadcrumb-item" href="#">Quản lý sản phẩm</a>
                <span class="breadcrumb-item active">Danh sách nhà cung cấp</span>
            </nav>
        </div>
    </div>
    <div class="card">
        <div class="card-body">
            <div class="row m-b-30">
                <div class="col-lg-7">
                    <div class="d-md-flex">
                        @* <div class="m-b-10 m-r-15">
                        <select class="custom-select" style="min-width: 200px;">
                        <option selected>Danh mục</option>
                        <option value="all">All</option>
                        <option value="homeDeco">Home Decoration</option>
                        <option value="eletronic">Eletronic</option>
                        <option value="jewellery">Jewellery</option>
                        </select>
                        </div> *@
                        @*  <div class="m-b-10">
                        <select class="custom-select" style="min-width: 200px;">
                        <option selected>Trạng thái</option>
                        <option value="all">All</option>
                        <option value="inStock">In Stock </option>
                        <option value="outOfStock">Out of Stock</option>
                        </select>
                        </div> *@
                    </div>
                </div>
                <div class="col-lg-2 text-right">
                    <a asp-area="Admin" asp-controller="AdminEmployees" asp-action="ExportToExcel">
                        <button class="btn btn-primary">
                            <i class="anticon anticon-file-excel m-r-5"></i>
                            <span>Xuất file Excel</span>
                        </button>
                    </a>
                </div>
                <div class="dropdown col-lg-3 text-right">
                    <button class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
                        <i class="anticon anticon-plus-circle m-r-5"></i>
                        <span>Thêm</span>
                    </button>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" asp-controller="AdminSuppliers" asp-action="Create">Thêm mới nhà cung cấp</a>
                        <a class="dropdown-item" asp-controller="AdminSuppliers" asp-action="AddFromExcel">Thêm từ Excel</a>
                    </div>
                </div>
                <div class="m-b-10 m-r-15">
                    <input id="keyword" type="text" name="keyword" class="form-control" placeholder="Tìm kiếm khách hàng" />
                </div>
            </div>
            <div class="table-responsive">
                <table class="table table-hover e-commerce-table">
                    <thead>
                        <tr>
                            <th>
                                Tên
                            </th>
                            <th>
                                 Tên Liên Hệ
                            </th>
                            <th>
                                Địa Chỉ
                            </th>
                            <th>
                                Thành Phố
                            </th>
                            <th>
                                Mã PostCode
                            </th>
                            <th>
                                Quốc Gia
                            </th>
                            <th>
                                Số Điện Thoại
                            </th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            @if (Model != null)
                            {
                                int i = 1;
                                @foreach (var item in Model)
                                {
                                <tr>
                                    <td>
                                            @Html.DisplayFor(modelItem => item.SupplierName)
                                    </td>
                                    <td>
                                            @Html.DisplayFor(modelItem => item.ContactName)
                                    </td>
                                    <td>
                                           
                                            @Html.DisplayFor(modelItem => item.Address)
                                    </td>
                                    <td>
                                          
                                            @Html.DisplayFor(modelItem => item.City)
                                    </td>

                                    <td>
                                            @Html.DisplayFor(modelItem => item.PostalCode)
                                    </td>
                                    <td>
                                           
                                            @Html.DisplayFor(modelItem => item.Country)
                                    </td>
                                    <td>

                                            @Html.DisplayFor(modelItem => item.Phone)
                                    </td>
                                    

                                    <td class="text-right">
                                    
                                        <a asp-area="Admin" asp-controller="AdminSuppliers" asp-action="Details" asp-route-id="@item.SupplierId">
                                            <button class="btn btn-icon btn-hover btn-sm btn-rounded" title="Xem chi tiết thông tin nhà cung cấp ">
                                                <i class="anticon anticon-eye"></i>
                                            </button>
                                        </a>

                                        <a asp-area="Admin" asp-controller="AdminSuppliers" asp-action="Edit" asp-route-id="@item.SupplierId">
                                            <button class="btn btn-icon btn-hover btn-sm btn-rounded pull-right" title="Sửa thông tin nhà cung cấp">
                                                <i class="anticon anticon-edit"></i>
                                            </button>
                                        </a>

                                        <a asp-area="Admin" asp-controller="AdminSuppliers" asp-action="Delete" asp-route-id="@item.SupplierId">
                                            <button class="btn btn-icon btn-hover btn-sm btn-rounded" title="Xóa nhà cung cấp này">
                                                <i class="anticon anticon-delete"></i>
                                            </button>
                                        </a>
                                    </td>
                                </tr>
                                    i++;
                                }
                            }
                        </tr>
                    </tbody>
                </table>
                <div aria-label="Page navigation example">
                    <ul class="pagination">
                        <pager class="page-container" list="@Model" asp-area="Admin" asp-controller="AdminSuppliers" asp-action="Index"></pager>
                    </ul>

                </div>
            </div>
        </div>
    </div>
</div>