@model IEnumerable<Client_Home.Models.Pannel>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<h1>Quản lý Pannel </h1>

@* <p>
    <a asp-action="Create">Create New</a>
</p> *@

<a asp-area="Admin" asp-controller="Pannels" asp-action="Create">
    <button class="btn btn-primary">
        <span>Thêm pannel mới</span>
    </button>
</a>

<table class="table">
    <thead>
        <tr>
            <th>
               Image
            </th>
            <th>
              Tên Pannel
            </th>
            <th>
               Url
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
                <td >
                    <img src="@Url.Content("~/assets/img/banner/" + item.UrlPannel)" style="width:50px;height:30px;">
                </td>
            <td>
                @Html.DisplayFor(modelItem => item.NamePannel)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UrlPannel)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdPannel">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.IdPannel">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.IdPannel">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
