@using PagedList.Core.Mvc
@model PagedList.Core.IPagedList<Client_Home.Models.Customer>
@{
    int CurrentPage = ViewBag.CurrentPage;
    ViewData["Title"] = "Danh sách khách hàng" + CurrentPage;
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<div class="main-content">
    <div class="page-header">
        <h2 class="header-title">Quản lý khách hàng</h2>
        <div class="header-sub-title">
            <nav class="breadcrumb breadcrumb-dash">
                <a asp-area="Admin" asp-controller="Home" asp-action="Index" class="breadcrumb-item"><i class="anticon anticon-home m-r-5"></i>Home</a>
                <a class="breadcrumb-item" href="#">Quản lý khách hàng</a>
                <span class="breadcrumb-item active">Danh sách khách hàng</span>
            </nav>
        </div>
    </div>
    <div class="card">
        <div class="card-body">
            <div class="row m-b-30">
                <div class="col-lg-7">
                    <div class="d-md-flex">
                        <div class="m-b-10 m-r-15">
                            <select class="custom-select" style="min-width: 200px;">
                                <option selected>Danh mục</option>
                                <option value="all">All</option>
                                <option value="homeDeco">Home Decoration</option>
                                <option value="eletronic">Eletronic</option>
                                <option value="jewellery">Jewellery</option>
                            </select>
                        </div>
                        <div class="m-b-10">
                            <select class="custom-select" style="min-width: 200px;">
                                <option selected>Trạng thái</option>
                                <option value="all">All</option>
                                <option value="inStock">In Stock </option>
                                <option value="outOfStock">Out of Stock</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2 text-right">
                    <a asp-area="Admin" asp-controller="AdminCustomers" asp-action="ExportToExcel">
                        <button class="btn btn-primary">
                            <i class="anticon anticon-file-excel m-r-5"></i>
                            <span>Xuất excel</span>
                        </button>
                    </a>
                </div>
                <div class="col-lg-3 text-right">
                    <a asp-area="Admin" asp-controller="AdminCustomers" asp-action="Create">
                    <button class="btn btn-primary">
                        <i class="anticon anticon-plus-circle m-r-5"></i>
                        <span>Thêm khách hàng</span>
                    </button>
                    </a>
                </div>
            </div>
            <div class="table-responsive">
                <table class="table table-hover e-commerce-table">
                    <thead>
                        <tr>
                            <th>
                                Tên
                            </th>
                            <th>
                                Email
                            </th>
                            <th>
                                Số điện thoại
                            </th>
                            <th>
                                Ngày sinh 
                            </th>
                            <th>
                                Điểm thưởng
                            </th>
                            <th>
                                Loại thành viên
                            </th>
                            <th>
                                Giới tính
                            </th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            @if (Model != null)
                            {
                                int i = 1;
                                @foreach (var item in Model)
                                {
                                <tr>
                                    <td>
                                            @Html.DisplayFor(modelItem => item.LastName)
                                    </td>
                                    <td>
                                            @Html.DisplayFor(modelItem => item.Email)
                                    </td>
                                    <td>
                                            @Html.DisplayFor(modelItem => item.Phone)
                                    </td>
                                    <td>
                                            @item.Birthday?.ToString("dd/MM/yyyy")
                                    </td>

                                    <td>
                                            @Html.DisplayFor(modelItem => item.RewardPoints)
                                    </td>
                                    <td>
                                            @Html.DisplayFor(modelItem => item.Rank)
                                    </td>
                                    <td>
                                            @Html.DisplayFor(modelItem => item.Gender)
                                    </td>

                                    <td class="text-right">
                                        <a asp-area="Admin" asp-controller="AdminCustomers" asp-action="Edit" asp-route-id="@item.CustomerId">
                                            <button class="btn btn-icon btn-hover btn-sm btn-rounded pull-right">
                                                <i class="anticon anticon-edit"></i>
                                            </button>
                                        </a>
                                        <button class="btn btn-icon btn-hover btn-sm btn-rounded">
                                            <i class="anticon anticon-delete"></i>
                                        </button>
                                    </td>
                                </tr>
                                    i++;
                                }
                            }
                        </tr>
                    </tbody>
                </table>
                <div aria-label="Page navigation example">
                    <ul class="pagination">
                        <pager class="page-container" list="@Model" asp-area="Admin" asp-controller="AdminCustomers" asp-action="Index"></pager>
                    </ul>

                </div>
            </div>
        </div>
    </div>
</div>
