@using Client_Home.Areas.Admin.Models;
@{
    ViewData["Title"] = "Admin Index";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
    var invoices = ViewBag.invoices as List<Invoice>;
    var topCustomer = ViewBag.TopCustomers as List<AdminRichestCustomerView>;
    var topProduct = ViewBag.TopProduct as List<AdminBestSellingProduct>;
    var revenueDat1a = ViewBag.revenueByMonth as List<decimal>;
    var profitByMonth = ViewBag.profitByMonth as List<decimal>;
    var onlineOfflineCountByMonth = ViewBag.onlineOfflineCountByMonth as List<AdminOnlineOfflinePurchaseCount>;
    List<int> onlinePurchases = new List<int>();
    List<int> offlinePurchases = new List<int>();
    // lấy ra số lược mua on và off gán vào các list riêng biệt
    foreach (var item in onlineOfflineCountByMonth)
    {
        onlinePurchases.Add(item.OnlinePurchases);
        offlinePurchases.Add(item.OfflinePurchases);
    }
    List<AdminSingleIntForProcedure> list = ViewBag.numberInvoiceThisMonth;
    List<AdminSingleIntForProcedure> numberInvoiceLastMonth = ViewBag.numberInvoiceLastMonth;
    int numberInvoice = list[0].number; // This will get the 'Number' from the first object in the list
    int numInvoiceLastMonth = numberInvoiceLastMonth[0].number;


}
<div class="row">
    <div class="col-lg-5">
        <div class="row">
            @*  tổng đơn  *@
            <div class="col-md-12">
                <div class="card">
                    <div class="card-body">
                        <div class="d-flex justify-content-between align-items-center">
                            <div>
                                <p class="m-b-0 text-muted">Tổng đơn</p>
                                <h2 class="m-b-0">@numberInvoice</h2>
                            </div>
                            @if (@numberInvoice > @numInvoiceLastMonth)
                            {
                                double percent = @numInvoiceLastMonth / Convert.ToSingle(@numberInvoice);
                                percent = Math.Round(percent, 4);
                                <span class="badge badge-pill badge-cyan font-size-12">
                                    <i class="anticon anticon-arrow-up"></i>
                                    <span class="font-weight-semibold m-l-5">@(1-percent*100)%</span>
                                </span>
                            }
                            else
                            {
                                double percent = @numberInvoice / Convert.ToSingle(@numInvoiceLastMonth);
                                percent = Math.Round(percent, 4);
                                <span class="badge badge-pill badge-red font-size-12">
                                    <i class="anticon anticon-arrow-down"></i>
                                    <span class="font-weight-semibold m-l-5">@((1-percent)*100)%</span>
                                </span>
                            }
                        </div>
                        <div class="m-t-40">
                            @{
                                double percentMonthlyGoal = @numberInvoice / 150.0F;
                                percentMonthlyGoal = Math.Round(percentMonthlyGoal, 2);
                                <div class="d-flex justify-content-between">
                                    <div class="d-flex align-items-center">
                                        <span class="badge badge-primary badge-dot m-r-10"></span>
                                        <span class="text-gray font-weight-semibold font-size-13">Mục tiêu tháng</span>
                                    </div>
                                    <span class="text-dark font-weight-semibold font-size-13">@(percentMonthlyGoal*100) % </span>
                                </div>
                                <div class="progress progress-sm w-100 m-b-0 m-t-10">
                                    <div class="progress-bar bg-primary" style="width: @(percentMonthlyGoal*100)%"></div>
                                </div>
                            }
                            
                        </div>
                    </div>
                </div>
            </div>
            @*  tổng người mua  *@
            <div class="col-md-6">
                @* <div class="card">
                    <div class="card-body">
                        <div class="d-flex justify-content-between align-items-center">
                            <div>
                                <p class="m-b-0 text-muted">Tổng người mua</p>
                                <h2 class="m-b-0">$8,753</h2>
                            </div>
                            <span class="badge badge-pill badge-red font-size-12">
                                <i class="anticon anticon-arrow-down"></i>
                                <span class="font-weight-semibold m-l-5">3.26%</span>
                            </span>
                        </div>
                        <div class="m-t-40">
                            <div class="d-flex justify-content-between">
                                <div class="d-flex align-items-center">
                                    <span class="badge badge-success badge-dot m-r-10"></span>
                                    <span class="text-gray font-weight-semibold font-size-13">Monthly Goal</span>
                                </div>
                                <span class="text-dark font-weight-semibold font-size-13">60% </span>
                            </div>
                            <div class="progress progress-sm w-100 m-b-0 m-t-10">
                                <div class="progress-bar bg-success" style="width: 60%"></div>
                            </div>
                        </div>
                    </div>
                </div> *@
            </div>
        </div>

        @* <div class="row">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-body">
                        <div class="d-flex justify-content-between align-items-center">
                            <div>
                                <p class="m-b-0 text-muted">Tổng </p>
                                <h2 class="m-b-0">1,753</h2>
                            </div>
                            <span class="badge badge-pill badge-red font-size-12">
                                <i class="anticon anticon-arrow-down"></i>
                                <span class="font-weight-semibold m-l-5">2.71%</span>
                            </span>
                        </div>
                        <div class="m-t-40">
                            <div class="d-flex justify-content-between">
                                <div class="d-flex align-items-center">
                                    <span class="badge badge-warning badge-dot m-r-10"></span>
                                    <span class="text-gray font-weight-semibold font-size-13">Monthly Goal</span>
                                </div>
                                <span class="text-dark font-weight-semibold font-size-13">45% </span>
                            </div>
                            <div class="progress progress-sm w-100 m-b-0 m-t-10">
                                <div class="progress-bar bg-warning" style="width: 45%"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card">
                    <div class="card-body">
                        <div class="d-flex justify-content-between align-items-center">
                            <div>
                                <p class="m-b-0 text-muted">Affiliate</p>
                                <h2 class="m-b-0">236</h2>
                            </div>
                            <span class="badge badge-pill badge-gold font-size-12">
                                <i class="anticon anticon-arrow-up"></i>
                                <span class="font-weight-semibold m-l-5">N/A</span>
                            </span>
                        </div>
                        <div class="m-t-40">
                            <div class="d-flex justify-content-between">
                                <div class="d-flex align-items-center">
                                    <span class="badge badge-secondary badge-dot m-r-10"></span>
                                    <span class="text-gray font-weight-semibold font-size-13">Monthly Goal</span>
                                </div>
                                <span class="text-dark font-weight-semibold font-size-13">50% </span>
                            </div>
                            <div class="progress progress-sm w-100 m-b-0 m-t-10">
                                <div class="progress-bar bg-secondary" style="width: 50%"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div> *@
    </div>
    @* Lượt mua online và offline *@
    <div class="col-lg-7">
        <div class="card">
            <div class="card-body">

                <figure class="highcharts-figure">
                    <div id="chart1"></div>
                    <p class="highcharts-description">
                       
                    </p>
                </figure>
            </div>
        </div>
    </div>
</div>
<div class="row">
    @*  Biểu đồ doanh thu  *@
    <div class="col-lg-8">
        <div class="card">
            <script src="https://code.highcharts.com/highcharts.js"></script>
            <script src="https://code.highcharts.com/modules/exporting.js"></script>
            <script src="https://code.highcharts.com/modules/export-data.js"></script>
            <script src="https://code.highcharts.com/modules/accessibility.js"></script>

            <figure class="highcharts-figure">
                <div id="container"></div>
            </figure>
        </div>
    </div>
    @*  sản phẩm bán chạy  *@
    <div class="col-lg-4">
        <div class="card">
            <div class="card-body">
                <div class="d-flex justify-content-between align-items-center">
                    <h5>Sản phẩm bán chạy</h5>
                    <div>
                        <a href="javascript:void(0);" class="btn btn-sm btn-default">View All</a>
                    </div>
                </div>
                <div class="m-t-30">
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item p-h-0">
                            <div class="d-flex align-items-center justify-content-between">
                                <div class="d-flex">
                                        <h6 class="m-b-0 m-l-50">
                                            <a href="javascript:void(0);" class="text-dark">Tên sản phẩm</a>
                                        </h6>
                                </div>
                                <h6 class="m-b-0">
                                    <span class="font-weight-semibold m-l-5">Số lượng bán được</span>
                                </h6>
                            </div>
                        </li>

                        @if (topProduct != null)
                        {
                            foreach (var item in topProduct)
                            {
                                <li class="list-group-item p-h-0">
                                    <div class="d-flex align-items-center justify-content-between">
                                        <div class="d-flex">
                                            <div class="avatar avatar-image m-r-15">
                                                <img src="~/adminassets/images/others/thumb-1.jpg" />
                                            </div>
                                            <div>
                                                <h6 class="m-b-0">
                                                    <a href="javascript:void(0);" class="text-dark"> @item.Name</a>
                                                </h6>
                                                <span class="text-muted font-size-13">Giá bán: @item.SellPrice vnđ</span>
                                            </div>
                                        </div>
                                        <span class="badge badge-pill badge-cyan font-size-12">
                                            <span class="font-weight-semibold m-l-5" >@item.TotalQuantitySold cái</span>
                                        </span>
                                    </div>
                                </li>
                            }
                        }
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">

    @*  Phú ông, phú bà  *@
    <div class="col-lg-4">
        <div class="card">
            <div class="card-body">
                <div class="d-flex justify-content-between align-items-center">
                    <h5>Khách hàng mua nhiều</h5>
                    <div>
                        <a href="javascript:void(0);" class="btn btn-sm btn-default">View All</a>
                    </div>
                </div>
                <div class="m-t-30">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th>Mã khách hàng</th>
                                <th>Tên khách hàng</th>
                                <th>Số tiền đã cống nạp</th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (topCustomer != null)
                            {
                                foreach (var item in topCustomer)
                                {
                                    <tr>
                                        <td>@Html.DisplayFor(modelItem => item.CustomerID)</td>

                                        <td> @Html.DisplayFor(modelItem => item.FirstName)</td>
                                        <td> @Html.DisplayFor(modelItem => item.TotalPaid)</td>
                                    </tr>
                                }
                            }
                        </tbody>
                    </table>
                    
                </div>
            </div>
        </div>
    </div>

    @*  Đơn gần đây  *@
    <div class="col-lg-8">
        <div class="card">
            <div class="card-body">
                <div class="d-flex justify-content-between align-items-center">
                    <h5>Các đơn hàng gần đây</h5>
                    <div>
                        <a href="javascript:void(0);" class="btn btn-sm btn-default">View All</a>
                    </div>
                </div>
                <div class="m-t-30">
                    <div class="table-responsive">
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th>Số hóa đơn</th>
                                    <th>Ngày tạo</th>
                                    <th>Trạng thái</th>
                                    <th>Tổng tiền</th>
                                </tr>
                            </thead>
                            <tbody>
                                    @if (invoices != null)
                                    {
                                        @foreach (var invoice in invoices)
                                        {
                                        <tr>
                                            <td>@Html.DisplayFor(modelItem => invoice.InvoiceId)</td>
                                            <td>
                                                    @Html.DisplayFor(modelItem => invoice.CreatedDate)
                                            </td>
                                            <td> @Html.DisplayFor(modelItem => invoice.Status)</td>
                                            <td> @Html.DisplayFor(modelItem => invoice.TotalAmount)</td>
                                        </tr>
                                        }
                                    }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    var revenue = @Html.Raw(Json.Serialize(ViewBag.revenueByMonth));
    var profit = @Html.Raw(Json.Serialize(ViewBag.profitByMonth));
    var onlineNumber = @Html.Raw(Json.Serialize(onlinePurchases));
    var offlineNumber = @Html.Raw(Json.Serialize(offlinePurchases));
    var revenueByMonth = revenue.map(function (item) {
        return item.revenue;
    });
    var profitByMonth = profit.map(function (item) {
        return item.revenue;
    });
    Highcharts.chart('container', {
        chart: {
            type: 'line'
        },
        title: {
            text: 'Biểu đồ doanh thu theo tháng'
        },
        xAxis: {
            categories: ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec']
        },
        yAxis: {
            title: {
                text: 'tỷ vnđ'
            }
        },
        plotOptions: {
            line: {
                dataLabels: {
                    enabled: true
                },
                enableMouseTracking: true
            }
        },
        series: [{
            name: 'Doanh thu',
            data: revenueByMonth
        },
        {
            name: 'Lợi nhuận',
            data: profitByMonth
        }]
    });

    Highcharts.chart('chart1', {
        chart: {
            type: 'column'
        },
        title: {
            text: 'Biểu đồ thể hiện lược mua online và offline',
            align: 'left'
        },
        xAxis: {
            categories: ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec'],
            crosshair: true,
            accessibility: {
                description: 'Month'
            }
        },
        yAxis: {
            min: 0,
            title: {
                text: 'Lượt mua'
            }
        },
        tooltip: {
            valueSuffix: ''
        },
        plotOptions: {
            column: {
                pointPadding: 0.2,
                borderWidth: 0
            }
        },
        series: [
            {
                name: 'Online',
                data: onlineNumber
            },
            {
                name: 'Offline',
                data: offlineNumber
            }
        ]
    });
</script>